listing.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="faction">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="tierlist">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
	  <xs:element name="faction" type="xs:string"/>
	  <xs:element name="warcasters" type="xs:string"/>
	  <xs:element name="warjacks" type="xs:string"/>
	  <xs:element name="solos" type="xs:string"/>
	  <xs:element name="units" type="xs:string"/>
	  <xs:element name="colossals" type="xs:string"/>
	  <xs:element name="battleengines" type="xs:string"/>
	  <xs:element name="tiers" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>


<xs:element name="warcaster">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
	  <xs:element name="faction" type="xs:string"/>
	  <xs:element name="subtype" type="xs:string"/>
	  <xs:element name="spd" type="xs:numeric"/>
	  <xs:element name="str" type="xs:numeric"/>
	  <xs:element name="mat" type="xs:numeric"/>
	  <xs:element name="rat" type="xs:numeric"/>
	  <xs:element name="def" type="xs:numeric"/>
	  <xs:element name="arm" type="xs:numeric"/>
	  <xs:element name="cmd" type="xs:numeric"/>
	  <xs:element name="foc" type="xs:numeric"/>
	  <xs:element name="cost" type="xs:numeric"/>
	  <xs:element name="fa" type="xs:numeric"/>
	  <xs:element name="weapons" type="xs:string"/>
	  <xs:element name="spells" type="xs:string"/>
	  <xs:element name="feat" type="xs:string"/>
	  <xs:element name="rules" type="xs:string"/>
	  <xs:element name="health" type="xs:numeric"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>


<xs:element name="warlock">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
	  <xs:element name="subtype" type="xs:string"/>
	  <xs:element name="faction" type="xs:string"/>
	  <xs:element name="spd" type="xs:numeric"/>
	  <xs:element name="str" type="xs:numeric"/>
	  <xs:element name="mat" type="xs:numeric"/>
	  <xs:element name="rat" type="xs:numeric"/>
	  <xs:element name="def" type="xs:numeric"/>
	  <xs:element name="arm" type="xs:numeric"/>
	  <xs:element name="cmd" type="xs:numeric"/>
	  <xs:element name="foc" type="xs:numeric"/>
	  <xs:element name="cost" type="xs:numeric"/>
	  <xs:element name="fa" type="xs:numeric"/>
	  <xs:element name="weapons" type="xs:string"/>
	  <xs:element name="spells" type="xs:string"/>
	  <xs:element name="feat" type="xs:string"/>
	  <xs:element name="rules" type="xs:string"/>
	  <xs:element name="health" type="xs:numeric"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>



<xs:element name="warjack">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
	  <xs:element name="subtype" type="xs:string"/>
	  <xs:element name="faction" type="xs:string"/>
	  <xs:element name="spd" type="xs:numeric"/>
	  <xs:element name="str" type="xs:numeric"/>
	  <xs:element name="mat" type="xs:numeric"/>
	  <xs:element name="rat" type="xs:numeric"/>
	  <xs:element name="def" type="xs:numeric"/>
	  <xs:element name="arm" type="xs:numeric"/>
	  <xs:element name="cmd" type="xs:numeric"/>
	  <xs:element name="foc" type="xs:numeric"/>
	  <xs:element name="cost" type="xs:numeric"/>
	  <xs:element name="fa" type="xs:numeric"/>
	  <xs:element name="weapons" type="xs:string"/>
	  <xs:element name="locations" type="xs:numeric"/>
	  <xs:element name="rules" type="xs:string"/>
	  <xs:element name="health1" type="xs:numeric"/>
	  <xs:element name="health2" type="xs:numeric"/>
	  <xs:element name="health3" type="xs:numeric"/>
	  <xs:element name="health4" type="xs:numeric"/>
	  <xs:element name="health5" type="xs:numeric"/>
	  <xs:element name="health6" type="xs:numeric"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>


<xs:element name="warbeast">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
	  <xs:element name="subtype" type="xs:string"/>
	  <xs:element name="faction" type="xs:string"/>
	  <xs:element name="spd" type="xs:numeric"/>
	  <xs:element name="str" type="xs:numeric"/>
	  <xs:element name="mat" type="xs:numeric"/>
	  <xs:element name="rat" type="xs:numeric"/>
	  <xs:element name="def" type="xs:numeric"/>
	  <xs:element name="arm" type="xs:numeric"/>
	  <xs:element name="cmd" type="xs:numeric"/>
	  <xs:element name="foc" type="xs:numeric"/>
	  <xs:element name="threshold" type="xs:numeric"/>
	  <xs:element name="cost" type="xs:numeric"/>
	  <xs:element name="fa" type="xs:numeric"/>
	  <xs:element name="weapons" type="xs:string"/>
	  <xs:element name="locations" type="xs:numeric"/>
	  <xs:element name="rules" type="xs:string"/>
	  <xs:element name="health1" type="xs:numeric"/>
	  <xs:element name="health3" type="xs:numeric"/>
	  <xs:element name="health5" type="xs:numeric"/>
	  <xs:element name="animus" type="xs:string"/>
	  </xs:sequence>
  </xs:complexType>
</xs:element>


<xs:element name="unit">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
	  <xs:element name="subtype" type="xs:string"/>
	  <xs:element name="faction" type="xs:string"/>
	  <xs:element name="sizemin" type="xs:numeric"/>
	  <xs:element name="sizemax" type="xs:numeric"/>
	  <xs:element name="costmin" type="xs:numeric"/>
	  <xs:element name="costmax" type="xs:numeric"/>
	  <xs:element name="fa" type="xs:numeric"/>
	  <xs:element name="rules" type="xs:string"/>
	  <xs:element name="troopers" type="xs:string"/>
	  </xs:sequence>
  </xs:complexType>
</xs:element>


<xs:element name="solo">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
	  <xs:element name="subtype" type="xs:string"/>
	  <xs:element name="faction" type="xs:string"/>
	  <xs:element name="spd" type="xs:numeric"/>
	  <xs:element name="str" type="xs:numeric"/>
	  <xs:element name="mat" type="xs:numeric"/>
	  <xs:element name="rat" type="xs:numeric"/>
	  <xs:element name="def" type="xs:numeric"/>
	  <xs:element name="arm" type="xs:numeric"/>
	  <xs:element name="cmd" type="xs:numeric"/>
	  <xs:element name="cost" type="xs:numeric"/>
	  <xs:element name="fa" type="xs:numeric"/>
	  <xs:element name="weapons" type="xs:string"/>
	  <xs:element name="rules" type="xs:string"/>
	  <xs:element name="health" type="xs:numeric"/>
	  </xs:sequence>
  </xs:complexType>
</xs:element>


<xs:element name="unitmember">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
	  <xs:element name="subtype" type="xs:string"/>
	  <xs:element name="spd" type="xs:numeric"/>
	  <xs:element name="str" type="xs:numeric"/>
	  <xs:element name="mat" type="xs:numeric"/>
	  <xs:element name="rat" type="xs:numeric"/>
	  <xs:element name="def" type="xs:numeric"/>
	  <xs:element name="arm" type="xs:numeric"/>
	  <xs:element name="cmd" type="xs:numeric"/>
	  <xs:element name="weapons" type="xs:string"/>
	  <xs:element name="rules" type="xs:string"/>
	  <xs:element name="health" type="xs:numeric"/>
	  </xs:sequence>
  </xs:complexType>
</xs:element>


<xs:element name="weaponattachment">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
	  <xs:element name="subtype" type="xs:string"/>
	  <xs:element name="parent" type="xs:string"/>
	  <xs:element name="spd" type="xs:numeric"/>
	  <xs:element name="str" type="xs:numeric"/>
	  <xs:element name="mat" type="xs:numeric"/>
	  <xs:element name="rat" type="xs:numeric"/>
	  <xs:element name="def" type="xs:numeric"/>
	  <xs:element name="arm" type="xs:numeric"/>
	  <xs:element name="cmd" type="xs:numeric"/>
	  <xs:element name="weapons" type="xs:string"/>
	  <xs:element name="rules" type="xs:string"/>
	  <xs:element name="health" type="xs:numeric"/>
	  <xs:element name="cost" type="xs:numeric"/>
	  <xs:element name="fa" type="xs:numeric"/>
	  <xs:element name="sizemax" type="xs:numeric"/>
	  </xs:sequence>
  </xs:complexType>
</xs:element>



<xs:element name="unitattachment">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
	  <xs:element name="subtype" type="xs:string"/>
	  <xs:element name="parent" type="xs:string"/>
	  <xs:element name="spd" type="xs:numeric"/>
	  <xs:element name="str" type="xs:numeric"/>
	  <xs:element name="mat" type="xs:numeric"/>
	  <xs:element name="rat" type="xs:numeric"/>
	  <xs:element name="def" type="xs:numeric"/>
	  <xs:element name="arm" type="xs:numeric"/>
	  <xs:element name="cmd" type="xs:numeric"/>
	  <xs:element name="cost" type="xs:numeric"/>
	  <xs:element name="fa" type="xs:numeric"/>
	  <xs:element name="members" type="xs:string"/>
	  </xs:sequence>
  </xs:complexType>
</xs:element>



<xs:element name="battle_engine">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
	  <xs:element name="subtype" type="xs:string"/>
	  <xs:element name="faction" type="xs:string"/>
	  <xs:element name="spd" type="xs:numeric"/>
	  <xs:element name="str" type="xs:numeric"/>
	  <xs:element name="mat" type="xs:numeric"/>
	  <xs:element name="rat" type="xs:numeric"/>
	  <xs:element name="def" type="xs:numeric"/>
	  <xs:element name="arm" type="xs:numeric"/>
	  <xs:element name="cmd" type="xs:numeric"/>
	  <xs:element name="weapons" type="xs:string"/>
	  <xs:element name="locations" type="xs:numeric"/>
	  <xs:element name="rules" type="xs:string"/>
	  <xs:element name="health" type="xs:numeric"/>
	  <xs:element name="cost" type="xs:numeric"/>
	  <xs:element name="fa" type="xs:numeric"/>
	  </xs:sequence>
  </xs:complexType>
</xs:element>


<xs:element name="spell">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
	  <xs:element name="cost" type="xs:numeric"/>
	  <xs:element name="rng" type="xs:numeric"/>
	  <xs:element name="aoe" type="xs:numeric"/>
	  <xs:element name="pow" type="xs:numeric"/>
	  <xs:element name="up" type="xs:numeric"/>
	  <xs:element name="off" type="xs:numeric"/>
	  <xs:element name="effect" type="xs:string"/>
	  </xs:sequence>
  </xs:complexType>
</xs:element>


<xs:element name="spell">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
	  <xs:element name="subtype" type="xs:numeric"/>
	  <xs:element name="rng" type="xs:numeric"/>
	  <xs:element name="aoe" type="xs:numeric"/>
	  <xs:element name="pow" type="xs:numeric"/>
	  <xs:element name="rules" type="xs:string"/>
	  </xs:sequence>
  </xs:complexType>
</xs:element>



<xs:element name="feat">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
	  <xs:element name="effect" type="xs:string"/>
	  </xs:sequence>
  </xs:complexType>
</xs:element>


<xs:element name="weapon">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
	  <xs:element name="rng" type="xs:numeric"/>
	  <xs:element name="aoe" type="xs:numeric"/>
	  <xs:element name="pow" type="xs:numeric"/>
	  <xs:element name="effect" type="xs:string"/>
	  </xs:sequence>
  </xs:complexType>
</xs:element>


</xs:schema>